#sidebar.float-left.bg-dash-menu.shadow
    a(href='/dashboard').sb-i
        .icon.round.shadow
            img.round.shadow(alt=user.username, src=user.avatarUrl(64))
    hr
    each guild of guilds
        if guild
            a(href="/servers/" + guild.id).sb-i.my-2
                .icon.round.shadow(data-toggle="tooltip", data-placement="right", title=guild.name)
                    if guild.icon
                        img.round(alt=guild.name, src=guild.iconURL({ dynamic: true, size: 64 }))
                    else
                        p.text-center.abbr #{guild.nameAcronym}
    hr
    a(href='/invite').sb-i
        .icon.icon-success.round.shadow
            p.abbr.text-white.text-center #[i.fas.fa-plus]
    .hamburger
        i.fas.fa-bars

script(defer)
    include sidebar.js