include ../includes/mixins.pug

doctype
html(lang="en")
    head
        include ../includes/header.pug
        script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js', defer)
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/atom-one-dark.min.css')

        script(defer).
            const guildId = '#{savedGuild.id}';
            const key = '#{key}';

    body
        include ../includes/sidebar.pug

        #sidebarExtension.shadow
            header.text-center.pt-4
                .large-icon.shadow.round
                    if server.icon
                        img.round(src=server.iconURL({ dynamic: true, size: 128 }), alt=server.name)
                    else
                        p.text-center.abbr #{server.nameAcronym}
                h4.pt-2 #{server.name}
            hr
            .tabs.navbar-nav.text-center
                a#player.bg-commands #[i.fas.fa-music.pr-1] Player
                a#settings.bg-commands #[i.fas.fa-cogs.pr-1] Settings
                a#auditLog.bg-commands #[i.fas.fa-book.pr-1] Audit Log

        include ../includes/navbar.pug

        section.cont.bg-transparent.d-flex.flex-column
            include modules/player
            include modules/settings

            include extensions/audit-log

        script(defer)
            include ../includes/guild.js

        script(defer)
            include ../includes/music/html-music-wrapper.js

        script(defer)
            include ../includes/music/music-wrapper.js

        script(defer)
            include ../includes/music/player.js